In [2]:
# LongLat.to_pickle('LongLat.pkl')

In [2]:
import utm
import pandas as pd

In [4]:
LongLat = pd.read_pickle('LongLat.pkl')

In [5]:
LongLat.head()

    latitude  longitude                         LaLoPoint
0  40.757977 -73.978165  (40.757977000000004, -73.978165)
1  40.731781 -74.006683           (40.731781, -74.006683)
2  40.737770 -74.004707  (40.737770000000005, -74.004707)
3  40.759945 -73.974602           (40.759945, -73.974602)
4  40.748528 -73.976250            (40.748528, -73.97625)

In [6]:
utm.from_latlon(51.2, 7.5)

(395201.3103811303, 5673135.241182375, 32, 'U')

In [7]:
list(LongLat.LaLoPoint[0])

[40.757977000000004, -73.978165]

In [8]:
utm.from_latlon(LongLat.latitude[0], LongLat.longitude[0])

(586252.1543279701, 4512392.943877186, 18, 'T')

In [12]:
def rule(row):
    x, y, val, letter = utm.from_latlon(row["latitude"], row["longitude"])
    return pd.Series({"x": x, "y": y, "val": val, "letter": letter})

In [10]:
LongLatcd = LongLat[0:100]

In [15]:
LongLatcd = LongLatcd.merge(LongLatcd.apply(rule, axis=1), left_index= True, right_index= True)

In [16]:
LongLatcd.head()

,latitude,longitude,LaLoPoint,x,y,val,letter
0,40.757977,-73.978165,"(40.757977000000004, -73.978165)",586252.154328,4.512393e+06,18,T
1,40.731781,-74.006683,"(40.731781, -74.006683)",583877.847624,4.509457e+06,18,T
2,40.737770,-74.004707,"(40.737770000000005, -74.004707)",584037.170931,4.510124e+06,18,T
3,40.759945,-73.974602,"(40.759945, -73.974602)",586550.355830,4.512615e+06,18,T
4,40.748528,-73.976250,"(40.748528, -73.97625)",586426.036236,4.511346e+06,18,T

In [17]:
LongLatcd.to_pickle('LongLat_UTM.pkl')

In [5]:
utm.to_latlon(913175.109008804, 120121.88125434518, '18')

ValueError: either zone_letter or northern needs to be set