In [6]:
import os
import pymysql
import pandas as pd
import sys

In [ ]:
# define database connnection string
host = "nyctaxi.cq3rwooo9ghy.ap-southeast-2.rds.amazonaws.com"
port=3306
dbname="NYCTaxiDB"
user="Administrator"
password="X5LdUuzaZoY7CvUO7Gmpaw4Hed"

In [ ]:
def csv_to_mysql(load_sql, host, port, user, password):
    '''
    This function load a csv file to MySQL table according to
    the load_sql statement.
    '''
    try:
        con = pymysql.connect(host=host,
                              port=port,
                                user=user,
                                password=password,
                                autocommit=True,
                                local_infile=1)
        print('Connected to DB: {}'.format(host))
        # Create cursor and execute Load SQL
        cursor = con.cursor()
        cursor.execute(load_sql)
        print('Succuessfully loaded the table from csv.')
        con.close()
        
    except Exception as e:
        print('Error: {}'.format(str(e)))
        sys.exit(1)

# Get the file names from the directory

In [29]:
entriesFare = os.scandir('/dltraining/datasets/Trip Fare/')

In [30]:
for entry in entriesFare:
    print((entry.name[len(entry.name)-4:len(entry.name)]).lower())
    if ((entry.name[len(entry.name)-4:len(entry.name)]).lower()) == ".csv":
        load_sql = "LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/" + entry.name +"' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;"
        print(load_sql)

.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_11.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;
file
.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_9.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;
.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_10.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;
.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_8.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;
ints
.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_4.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;
.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_6.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;
.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_2.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;
.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_5.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;
.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_1.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;
.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_3.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;
.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_12.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;
.csv
LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_7.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;

In [4]:
entriesTrip = os.scandir('/dltraining/datasets/Trip Data/')

In [5]:
for entry in entriesTrip:
    print(entry.name)

zipfile
trip_data_1.csv
trip_data_12.csv
trip_data_5.csv
trip_data_7.csv
trip_data_6.csv
trip_data_9.csv
trip_data_2.csv
.ipynb_checkpoints
trip_data_10.csv
trip_data_11.csv
trip_data_8.csv
trip_data_3.csv
trip_data_4.csv