In [1]:
import pymysql
import pandas as pd
import sys

In [36]:
host="nyctaxi.cq3rwooo9ghy.ap-southeast-2.rds.amazonaws.com"
port=3306
dbname="NYCTaxiDB"
user="Administrator"
password="X5LdUuzaZoY7CvUO7Gmpaw4Hed"

conn = pymysql.connect(host, user=user,port=port,
                           passwd=password, db=dbname)
# create object to talk to the db
cursorObject = conn.cursor()

In [2]:
def csv_to_mysql(load_sql, host, port, user, password):
    '''
    This function load a csv file to MySQL table according to
    the load_sql statement.
    '''
    try:
        con = pymysql.connect(host=host,
                              port=port,
                                user=user,
                                password=password,
                                autocommit=True,
                                local_infile=1)
        print('Connected to DB: {}'.format(host))
        # Create cursor and execute Load SQL
        cursor = con.cursor()
        cursor.execute(load_sql)
        print('Succuessfully loaded the table from csv.')
        con.close()
        
    except Exception as e:
        print('Error: {}'.format(str(e)))
        sys.exit(1)

In [ ]:
sqlQuery = "CREATE TABLE fareData(id INT AUTO_INCREMENT PRIMARY KEY, medallion char(32), hack_license char(32), vendor_id varchar(32), pickup_datetime datetime, payment_type varchar(32), fare_amount float(10,3), surcharge float(10,3), mta_tax float(10,3), tip_amount float(10,3), tolls_amount float(10,3), total_amount float(10,3))"
cursorObject.execute(sqlQuery)

In [39]:
sqlQuery = "CREATE TABLE fareData(medallion char(32), hack_license char(32), vendor_id varchar(32), pickup_datetime datetime, payment_type varchar(32), fare_amount float(10,3), surcharge float(10,3), mta_tax float(10,3), tip_amount float(10,3), tolls_amount float(10,3), total_amount float(15,5))"
cursorObject.execute(sqlQuery)

0

In [37]:
#sqlQuery = "DROP TABLE fareData"
cursorObject.execute(sqlQuery)

0

In [47]:
# Execution Example
load_sql = "LOAD DATA LOCAL INFILE '/dltraining/datasets/Trip Fare/trip_fare_2.csv' INTO TABLE NYCTaxiDB.fareData  FIELDS TERMINATED BY ',' IGNORE 1 LINES;"

In [48]:
csv_to_mysql(load_sql, host, port, user, password)

Connected to DB: nyctaxi.cq3rwooo9ghy.ap-southeast-2.rds.amazonaws.com
Succuessfully loaded the table from csv.

In [ ]:
print(%tb)

In [43]:
sqlQuery = "SELECT count(*) FROM fareData"
cursorObject.execute(sqlQuery)

1

In [46]:
conn.close()

NameError: name 'con' is not defined