In [1]:
import numpy as np
import pandas as pd
import pandas_profiling
#import pymysql  need this if I actaully use the code to talk to a DB
import configparser

In [ ]:
tripData1 = pd.read_csv('/dltraining/datasets/Trip Data/trip_data_1.csv',
                        nrows=10000)

In [ ]:
tripData1.head()

In [ ]:
tripFare1 = pd.read_csv('/dltraining/datasets/Trip Fare/trip_fare_1.csv',
                        nrows=10000)

#remove the leading spaces
tripFare1.columns = [
    'medallion', 'hack_license', 'vendor_id', 'pickup_datetime',
    'payment_type', 'fare_amount', 'surcharge', 'mta_tax', 'tip_amount',
    'tolls_amount', 'total_amount'
]

In [ ]:
tripFare1.head()

# Database Connection

In [2]:
config = configparser.ConfigParser()
config

In [3]:
config.read("/dltraining/New-York-Taxi-Analysis/Secrets/passwords.ini")

['/dltraining/New-York-Taxi-Analysis/Secrets/passwords.ini']

In [4]:
config.sections()

['Database_NYTaxi']

In [5]:
config.options('Database_NYTaxi')

['user', 'securitytoken', 'host', 'port', 'dbname']

In [9]:
# Assigning values to variable
host = config.get('Database_NYTaxi', 'host')
port = config.get('Database_NYTaxi', 'port')
dbname = config.get('Database_NYTaxi', 'dbname')
user = config.get('Database_NYTaxi', 'user')
password = config.get('Database_NYTaxi', 'securitytoken')
print(
    "The Database %s is found at %s on port %s. It has a user of %s, with a password of %s"
    % (dbname, host, port, user, password))

The Database NYCTaxiDB is found at nyctaxi.cq3rwooo9ghy.ap-southeast-2.rds.amazonaws.com on port 3306. It has a user of Administrator, with a password of X5LdUuzaZoY7CvUO7Gmpaw4Hed

In [8]:
## Database no longer exists, this is a demo only
host = config.get('Database_NYTaxi', 'host')
port = config.get('Database_NYTaxi', 'port')
dbname = config.get('Database_NYTaxi', 'dbname')
user = config.get('Database_NYTaxi', 'user')
password = config.get('Database_NYTaxi', 'securitytoken')

In [ ]:
# create a connection to the database
conn = pymysql.connect(host, user=user, port=port, passwd=password, db=dbname)

In [ ]:
# create object to talk to the db
cursorObject = conn.cursor()

In [ ]:
# check to see if there are any tables
sqlQuery = "show tables"
cursorObject.execute(sqlQuery)
for x in cursorObject:
    print(x)

In [ ]:
sqlQuery = "CREATE TABLE tripData(id INT AUTO_INCREMENT PRIMARY KEY, medallion char(32), hack_license char(32), vendor_id varchar(32), rate_code int, store_and_fwd_flag char(5), pickup_datetime datetime, dropoff_datetime datetime , passenger_count int, trip_time_in_secs int, trip_distance float(10,5), pickup_longitude float(12, 7), pickup_latitude float(12, 7), dropoff_longitude float(12, 7), dropoff_latitude float(12, 7))"
cursorObject.execute(sqlQuery)

In [ ]:
sqlQuery = "CREATE TABLE fareData(id INT AUTO_INCREMENT PRIMARY KEY, medallion char(32), hack_license char(32), vendor_id varchar(32), pickup_datetime datetime, payment_type varchar(32), fare_amount float(10,3), surcharge float(10,3), mta_tax float(10,3), tip_amount float(10,3), tolls_amount float(10,3), total_amount float(10,3))"
cursorObject.execute(sqlQuery)

In [ ]:
sqlQuery = "show tables"
cursorObject.execute(sqlQuery)
for x in cursorObject:
    print(x)

In [ ]:
tripFare1.to_sql(con=conn, name='fareData_1', if_exists='append', index=False)

In [ ]:
sqlQuery = "select count(*) from fareData"
cursorObject.execute(sqlQuery)
for x in cursorObject:
    print(x)

In [ ]:
sqlQuery = "ALTER TABLE NYCTaxiDB.fareData AUTO_INCREMENT =1"
cursorObject.execute(sqlQuery)
for x in cursorObject:
    print(x)

In [ ]:
sqlQuery = "SELECT name FROM sqlite_master WHERE type='table' AND name='fareData_1'"
cursorObject.execute(sqlQuery)
for x in cursorObject:
    print(x)

In [ ]:
# close the connection
conn.close()